[submodule "lib/plugins/fksdbauth"]
	path = lib/plugins/fksdbauth
	url = https://github.com/fykosak/dokuwiki-plugin-fksdbauth.git
[submodule "lib/plugins/plugin-captcha"]
	path = lib/plugins/plugin-captcha
	url = git@fykos.cz:dokuwiki/plugin-captcha.git
[submodule "lib/plugins/captcha"]
	path = lib/plugins/captcha
	url = git@github.com:splitbrain/dokuwiki-plugin-captcha.git
[submodule "lib/plugins/upgrade"]
	path = lib/plugins/upgrade
	url = https://github.com/splitbrain/dokuwiki-plugin-upgrade.git
[submodule "lib/plugins/translate"]
	path = lib/plugins/translate
	url = https://github.com/fykosak/dokuwiki-plugin-translate.git
[submodule "lib/tpl/fkstpl"]
	path = lib/tpl/fkstpl
	url = https://github.com/fykosak/dokuwiki-template-fkstpl.git
[submodule "lib/plugins/fksnewsfeed"]
	path = lib/plugins/fksnewsfeed
	url = https://github.com/fykosak/dokuwiki-plugin-fksnewsfeed.git
[submodule "lib/plugins/fkspoll"]
	path = lib/plugins/fkspoll
	url = https://github.com/fykosak/dokuwiki-plugin-fkspoll.git
[submodule "lib/plugins/fksdownloader"]
	path = lib/plugins/fksdownloader
	url = https://github.com/fykosak/dokuwiki-plugin-fksdownloader.git
[submodule "lib/plugins/fksdbexport"]
	path = lib/plugins/fksdbexport
	url = https://github.com/fykosak/dokuwiki-plugin-fksdbexport.git
[submodule "lib/plugins/mathjax"]
	path = lib/plugins/mathjax
	url = https://github.com/liffiton/dokuwiki-plugin-mathjax.git
[submodule "lib/plugins/searchtext"]
	path = lib/plugins/searchtext
	url = https://github.com/michitux/dokuwiki-plugin-searchtext.git
[submodule "lib/plugins/sqlite"]
	path = lib/plugins/sqlite
	url = https://github.com/cosmocode/sqlite.git
[submodule "lib/plugins/text"]
	path = lib/plugins/text
	url = https://github.com/michitux/dokuwiki-plugin-text.git
[submodule "lib/plugins/fkshelper"]
	path = lib/plugins/fkshelper
	url = https://github.com/fykosak/dokuwiki-plugin-fkshelper.git
[submodule "lib/plugins/iframe"]
	path = lib/plugins/iframe
	url = git@fykos.cz:dokuwiki/plugin-iframe.git
[submodule "lib/plugins/fkstimer"]
	path = lib/plugins/fkstimer
	url = https://github.com/fykosak/dokuwiki-plugin-fkstimer.git
[submodule "lib/plugins/cookielaw"]
	path = lib/plugins/cookielaw
	url = https://github.com/fykosak/dokuwiki-plugin-cookielaw.git
[submodule "lib/plugins/gallery"]
	path = lib/plugins/gallery
	url = https://github.com/fykosak/dokuwiki-plugin-gallery.git
[submodule "lib/plugins/social"]
	path = lib/plugins/social
	url = https://github.com/fykosak/dokuwiki-plugin-social.git
[submodule "lib/plugins/fksvlna"]
	path = lib/plugins/fksvlna
	url = https://github.com/fykosak/dokuwiki-plugin-fksvlna.git
[submodule "lib/plugins/pageburner"]
	path = lib/plugins/pageburner
	url = https://github.com/fykosak/dokuwiki-plugin-pageburner.git

[submodule "lib/plugins/data"]
	path = lib/plugins/data
	url = https://github.com/splitbrain/dokuwiki-plugin-data.git
[submodule "lib/plugins/datatemplate"]
	path = lib/plugins/datatemplate
	url = https://github.com/fykosak/dokuwiki-plugin-datatemplate
[submodule "lib/plugins/simpleforward"]
	path = lib/plugins/simpleforward
	url = https://github.com/fykosak/dokuwiki-plugin-simpleforward.git
[submodule "lib/plugins/fkstaskrepo"]
	path = lib/plugins/fkstaskrepo
	url = https://github.com/fykosak/dokuwiki-plugin-fkstaskrepo.git
[submodule "lib/plugins/fksyearlistresults"]
	path = lib/plugins/fksyearlistresults
	url = https://github.com/sstenchlak/fykosak-dokuwiki-plugin-fksyearlistresults.git
[submodule "lib/plugins/translatemapping"]
	path = lib/plugins/translatemapping
	url = https://github.com/fykosak/dokuwiki-plugin-translatemapping
[submodule "lib/plugins/newsfeed"]
	path = lib/plugins/newsfeed
	url = https://github.com/fykosak/dokuwiki-plugin-newsfeed.git
